node_modules/
dist/
.vercel/
.audit/

*.tsbuildinfo
vite.config.d.ts
vite.config.js

.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel


# 本地批量替换临时备份
*.bak
*.bak2
